<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traveler.przemek1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".tokenGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OPUS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Logowanie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:label="Menu" />
        <activity android:name=".CreateAccount" />
        <activity android:name=".lista" />
        <activity
            android:name=".Tabela1"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Tabela2" />
        <activity
            android:name=".BusZawartosc"
            android:label="Zawartość busa:" />
        <activity
            android:name=".ListaBus"
            android:label="Lista busów:" />
        <activity
            android:name=".Zmien_ilosc"
            android:label="Zmień ilość"
            android:theme="@style/AppTheme.pop_up_style" />
        <activity
            android:name=".Menu_ladne"
            android:label="MENU GŁÓWNE" />
        <activity
            android:name=".Menu_nowe"
            android:label="@string/title_activity_menu_nowe" />
        <activity
            android:name=".DodajDoBusa"
            android:label="Co chcesz dodać??" />
        <activity
            android:name=".DodajDoBusaPopup"
            android:label="Ile sztuk?"
            android:theme="@style/AppTheme.pop_up_style" />
        <activity
            android:name=".DodajBusa"
            android:label="Dodaj busa" />
        <activity android:name=".checkToken"></activity>
    </application>

</manifest>