<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.traveler.przemek1">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Inne.tokenGlobal"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="OPUS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".Inne.MyService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="false" />

        <activity android:name=".Glowne.Logowanie">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Glowne.Menu_robocze"
            android:label="Menu" />
        <activity android:name=".Glowne.CreateAccount" />
        <activity android:name=".Nieposortowane.lista" />
        <activity
            android:name=".Nieposortowane.Tabela1"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Nieposortowane.Tabela2" />
        <activity
            android:name=".Bus.BusZawartosc"
            android:label="Zawartość busa:" />
        <activity
            android:name=".Bus.ListaBus"
            android:label="Lista busów:" />
        <activity
            android:name=".Bus.Zmien_ilosc"
            android:label="Zmień ilość"
            android:theme="@style/AppTheme.pop_up_style" />
        <activity
            android:name=".Glowne.Menu_ladne"
            android:label="MENU GŁÓWNE" />
        <activity
            android:name=".Glowne.Menu_przyszle"
            android:label="@string/title_activity_menu_nowe" />
        <activity
            android:name=".Bus.DodajDoBusa"
            android:label="Co chcesz dodać??" />
        <activity
            android:name=".Bus.DodajDoBusaPopup"
            android:label="Ile sztuk?"
            android:theme="@style/AppTheme.pop_up_style" />
        <activity
            android:name=".Bus.DodajBusa"
            android:label="Dodaj busa" />
        <activity android:name=".Inne.checkToken" />
        <activity
            android:name=".Dodatki.add_Items"
            android:label="Dodaj dodatek" />
        <activity
            android:name=".Dodatki.EdytujDodatek"
            android:label="Wybierz dodatek" />
        <activity
            android:name=".Bus.UsunBus"
            android:label="Usuń busa" />
        <activity
            android:name=".Dodatki.EdytujDodatek2"
            android:label="Edytuj dodatek"
            android:theme="@style/AppTheme.pop_up_style" />
        <activity android:name=".Dodatki.Dodatki" />
        <activity
            android:name=".Nieposortowane.Employees"
            android:label="Pracownicy" />
        <activity android:name=".Nieposortowane.Skaner" />
        <activity
            android:name=".Bus.UsunBusPopup"
            android:theme="@style/AppTheme.pop_up_style" />
        <activity android:name=".Bus.Busy" />
        <activity
            android:name=".Kalendarz.Kalendarz"
            android:label="@string/title_activity_kalendarz2" />
        <activity android:name=".Chat.Chat" />
        <activity android:name=".Chat.DodajWiadomosc"
            android:theme="@style/AppTheme.pop_up_style"/>
        <activity
            android:name=".Nieposortowane.Employees2"
            android:label="Pracownicy" >
          </activity>
    </application>

</manifest>